body {
	font-family: sans-serif;
	text-align: center;
	padding: 3rem;
	font-size: 4rem;
	line-height: 1.5;
	transition: all 725ms ease-in-out;
}
h1 {
	font-size: 6rem;
	font-weight: bolder;
	margin-bottom: 1rem;
	text-align: center;
}
p {
	margin-bottom: 1rem;
	color: tomato;
}
div {
	text-align: center;
}

input[type=text], select {
	width: 50%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 3.5rem;
}
th, td {
	padding: 15px;
	text-align: left;
}
tr {
	margin-right: 0;
}
.mas, .menos {
	display:block;
	height: 120px;
	width: 120px;
	border-radius: 20%;
	border: 1px solid green;
	font-size: 5rem;
	color: black;
}
.borrar {
	background-color: red;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3.5rem;
}
.nuevo {
	background-color: green;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 3.5rem;
}